<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482998025247-kc2duakpbstnhls534k6ulo86vs7m6jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482998025247-kc2duakpbstnhls534k6ulo86vs7m6jd</string>
	<key>API_KEY</key>
	<string>AIzaSyDFsKYoDdieRnBbzktcKxLa5CqTn6e0CT8</string>
	<key>GCM_SENDER_ID</key>
	<string>482998025247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duck.cartrip</string>
	<key>PROJECT_ID</key>
	<string>cartrip-b947e</string>
	<key>STORAGE_BUCKET</key>
	<string>cartrip-b947e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482998025247:ios:f690f473dc4a623dbe292a</string>
	<key>DATABASE_URL</key>
	<string>https://cartrip-b947e.firebaseio.com</string>
</dict>
</plist>